<li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       id="navbarDropdownMenuLink" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Модерация
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'speciality:speciality_create' %}">Добавить специализацию</a>
        <a class="dropdown-item" href="{% url 'speciality:speciality_create' %}">Добавить услуга</a>

    </div>
</li>