{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container marketing">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Информация о специалисте</h1>
                {% if user.is_staff %}
                    <p>
                        <a href="{% url 'users:doctor_update' object.pk %}"
                           class="btn btn-primary my-2">Редактировать</a>
                        <a href="{% url 'users:doctor_delete' object.pk %}" class="btn btn-secondary my-2">Удалить</a>
                    </p>
                {% endif %}
            </div>
        </section>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ object.user.first_name }} {{ object.user.last_name }}</h2>
                <p class="lead">Специализация: {{ object.user.doctor.speciality }}</p>
                <p class="lead">Стаж: {{ object.user.doctor.experience }}</p>
                <p class="lead">Образование: {{ object.user.doctor.education }}</p>
                <a class="btn btn-sm btn-outline-secondary"
                   href="{% url 'appointment:appointment_create' %}?doctor_pk={{ doctor.id }}" role=""><b>Записаться на
                    прием</b></a>

            </div>
            <div class="col-md-5">
                {% if doctor.user.avatar %}
                <img class="card card-img-top"
                     src="{{ doctor.user.avatar|my_media }}"
                     alt="Card image cap" width="100%" height="350">
                    {% else %}
                <img class="card card-img-top"
                     src="/media/users_avatar/pngtree-no-avatar-vector-isolated-on-white-background-png-image_4979074.jpg"
                     alt="Card image cap" width="100%" height="350">
                {% endif %}
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
{% endblock %}