{% extends 'main/base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>{{ object.title }}</h1>
        </div>
    </section>
    <hr class="featurette-divider">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Запись</th>
            <th scope="col">Медицинская услуга</th>
            <th scope="col">Цена</th>
            <th scope="col">Пациент</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>

        {% for object in appointments_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'appointment:appointment_update' object.pk %}">{{ object.date }} {{ object.time }}</a></td>
                <td>{{ object.service }}</td>
                <td>{{ object.service.price }} руб.</td>
                <td>{{ object.user }}</td>
                <td>{{ object.status_of_appointment }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}