{% extends 'main/base.html' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Успешно!</h1>
        </div>
    </section>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Электронная почта подтверждена</h4>
            <p>Электронная почта подтверждена. Спасибо за регистрацию</p>
        </div>
    </div>
</div>

{% endblock %}