{% extends 'main/base.html' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Подтвердите почту</h1>
        </div>
    </section>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading text-center">Ссылка отправлена на почту</h4>
            <p>На указанный при регистрации адрес электронной почты отправлена ссылка для подтверждения</p>
        </div>
    </div>
</div>

{% endblock %}