{% extends 'main/base.html' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Ошибка!!!</h1>
        </div>
    </section>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">Ошибка подтверждения почты</h4>
            <p>Ссылка на подтверждение почты не действительна. Зарегистрируйтесь снова</p>
        </div>
    </div>
</div>

{% endblock %}