{% extends 'main/base.html' %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Восстановление пароля</h1>
        </div>
    </section>

    <form method="post">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Вход
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for f in form %}
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        <p>
                            <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}