<li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       id="navbarDropdownMenuLink" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Модерация
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'speciality:speciality_create' %}">Добавить специализацию</a>
        <a class="dropdown-item" href="{% url 'services:service_create' %}">Добавить услугу</a>
        <a class="dropdown-item" href="{% url 'users:doctor_create' %}">Добавить врача</a>
        <a class="dropdown-item" href="{% url 'appointment:timetable_create' %}">Добавить расписание</a>

    </div>
</li>