{% extends 'main/base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Пример альбома</h1>
            <p class="lead text-muted">Что-то краткое и ведущее о коллекции ниже - ее содержание, создатель и т.д.
                Сделайте ее короткой и интересной, но не слишком короткой, чтобы люди просто не пропустили ее
                полностью.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Главный призыв к действию</a>
                <a href="#" class="btn btn-secondary my-2">Вторичное действие</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for speciality in speciality_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Эскиз</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">{{ speciality.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'services:speciality_service' speciality.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Посмотреть
                                        </a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                        </button>
                                    </div>
                                    <small class="text-muted">9 минут</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}